@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@media (min-width: 768px) {
  #main-content {
    width: 98.5%;
  }
}

@media (min-width: 930px) {
  #main-content {
    width: 99%;
  }
}

@media (min-width: 1300px) {
  #main-content {
    width: 99.2%;
  }
}

@media (min-width: 1570px) {
  #main-content {
    width: 99.5%;
  }
}

@media (max-width: 767px) {
  #main-content {
    width: 98.5%;
    margin-left: 6px;
  }
}

@media (max-width: 700px) {
  #main-content {
    width: 98.2%;
    margin-left: 6px;
  }
}

@media (max-width: 550px) {
  #main-content {
    width: 97.9%;
    margin-left: 6px;
  }
}

@media (max-width: 500px) {
  #main-content {
    width: 97.5%;
    margin-left: 6px;
  }
}

@media (max-width: 400px) {
  #main-content {
    width: 97%;
    margin-left: 6px;
  }
}